<h2>Julia Hawkins</h2>
<h3>Tuesday September 12th 2014</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Exercises</th>
                <th>Load</th>
                <th>Reps</th>
                <th>Sets</th>
                <th>Tempo</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>1</td>
                <td>Squat</td>
                <td>150</td>
                <td>6</td>
                <td>3-4</td>
                <td>1:0:1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Bench</td>
                <td>180</td>
                <td>10</td>
                <td>4</td>
                <td>2:1:2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Lunge</td>
                <td>150</td>
                <td>6</td>
                <td>2-3</td>
                <td>2:0:2</td>
            </tr>
               <tr>
                <td>4</td>
                <td>Curl</td>
                <td>80</td>
                <td>12</td>
                <td>4</td>
                <td>1:0:1</td>
            </tr>
               <tr>
                <td>5</td>
                <td>Clean</td>
                <td>160</td>
                <td>6</td>
                <td>3</td>
                <td>2:1:2</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
<button type="button" class="btn btn-success">Completed</button>
</div>

